*
{
    margin:0;
    padding:0;

}
.f{
    display:flex;
    flex-direction: row;
  align-items:flex-end;
    
}
body {
    background-image: url("./img/fondo.jpg");

    background-size: 100vw;
}
#b{
 
}
#con{
    height:93vh
}
#b{
    overflow:auto;
}
.bo{
border-radius: 20px;
}


.colorb{

    background-color: rgba(20,20,20,0.6)
}
