*
{
    margin:0;
    padding:0;

}

body {
    background-image: url("./img/fondo.jpg");

    background-size: 100vw;
}
#b{
    height: 90vh;
}
#con{
    height:100vh
}

.bo{
border-radius: 20px;
}


.colorb{

    background-color: rgba(20,20,20,0.6)
}
